.radio-input-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    width: 100%;
    border: 1px solid var(--Slate500);
    background-color: var(--White-color);
    border-radius: 0.5rem;
    height: 3rem;
    position: relative;
}

.radio-input-container>* {
    cursor: pointer;
}

.radio-input-container:focus-within {
    border: 1px solid var(--Lime-color);
    box-shadow: 0 0 0 2px var(--Lime-color);
    background-color: hsla(61, 70%, 52%, .2);
}

.label-radio-input {
    width: 100%;
    margin-top: 0;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--Slate900);
    margin-left: 1.5rem;
}

input[type="radio"] {
    appearance: none;
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 1rem;
    outline: 2px solid var(--Slate500);
    outline-offset: 3px;
    border-radius: 50%;
}

input[type="radio"]:checked {
    background-color: var(--Lime-color);
}